<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "ホーム", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "ユーザー", users_path %></li>
      <li class="breadcrumb-item"><%= link_to "プロフィール", user_path(@user) %></li>
      <li class="breadcrumb-item active"  aria-current="page"><%= link_to "プロフィール編集", edit_user_path %></li>
    </ol>
  </nav>
  <div class="profile-edit">
    <div class="profile-edit-title">
      <h1>Edit Profile</h1>
      <p>プロフィール編集</p>
    </div>
    <div class="profile-edit-form">
      <div class="user-icon-item">
        <% if current_user.image? %>
          <div class="user-icon">
            <%= image_tag current_user.image.url %>
          </div>
        <% else %>
          <div class="user-icon">
            <%= image_tag "default.png" %>
          </div>
        <% end %>
      </div>
      <div class="profile-edit-body container-fluid">
        <%= form_with model: @user, local: true do |f| %>
          <%= render "shared/error_messages", resource: @user %>

          <div class="field row">
            <%= f.label :name, class: "required" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-regular fa-face-smile size"></i>
              </div>
              <div class="field-content-right">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "field-content-name", placeholder: "ユーザー名を入力してください" %>
              </div>
            </div>
          </div>

          <div class="field row">
            <%= f.label :image %></br>
            <div  class="profile-edit-image">
              <%= image_tag @user.image.url if @user.image? %>
            </div>
            <div class="profile-edit-image-content"><%= f.file_field :image, autocomplete: "image" %></div>
          </div>

          <div class="field row">
            <%= f.label :gender, class: "required profile-edit-gender" %></br>
            <div class="radio-botton">
              <%= f.radio_button :gender, :男性 %>
              <%= f.label :gender, "男性", {value: :男性, style: "display: inline-block;", class: "radio-label"} %>
              <%= f.radio_button :gender, :女性 %>
              <%= f.label :gender, "女性", {value: :女性, style: "display: inline-block;", class: "radio-label"} %>
            </div>
          </div>

          <div class="field row">
            <%= f.label :introduction %></br>
            <%= f.text_area :introduction, autocomplete: "introduction", class: "field-content field-introduction", placeholder: "初めまして、マミーです。よろしくお願いします" %>
            <p>※150文字以内入力してください</p>
          </div>

          <div class="row">
            <div class="form-btn"><%= f.submit "更新する", class: "profile-edit-btn btn btn-primary" %></div>
          </div>
        <% end %>
      </div>
      <div class="profile-edit-footer">
        <%= link_to "戻る", :back %>
      </div>
    </div>
  </div>
</div>
