<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "ホーム", root_path %></li>
      <li class="breadcrumb-item active"  aria-current="page"><%= link_to "ユーザー(一覧)", users_path %></li>
    </ol>
  </nav>
  <div class="users-title">
    <h1>Users</h1>
    <p>ユーザー一覧</p>
  </div>
  <div class="users-contents">
    <% @users.each do | user | %>
      <%= link_to profile_user_path(id: user) do %>
        <div class="users-content scale">
          <div class="users-left">
            <div class="user-icon">
              <% if user.image? %>
                <%= image_tag user.image.url, alt: "ユーザー画像" %>
              <% else %>
                <%= image_tag "default.png", alt: "ゲスト画像" %>
              <% end %>
            </div>
          </div>
          <div class="users-right">
            <ul class="users-top">
              <li class="user-name">
                <%= user.name %>
              </li>
              <li class="user-posts"><p><%= "Post: #{user.posts.count}" %></p></li>
              <li class="user-places"><%= "Spot: #{user.spots.count}" %></p></li>
              <% if user.gender %>
                <li class="user-gender">
                  <% case user.gender %>
                    <% when "男性" %>
                      <span class="fa-solid fa-person fa-bounce man"></span>
                    <% when "女性" %>
                      <span class="fa-solid fa-person-dress fa-bounce woman"></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="users-down">
              <% if user.introduction %>
                <%= user.introduction %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @users, class: "page" %>
</div>
