<% provide(:title, @user.name) %>
<div class="container">
  <div class="user-title">
    <h1>User</h1>
    <p>ユーザー</p>
  </div>
  <div class="user-form">
    <div class="user-top">
      <div class="user-icon">
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag "default.png", class: "guest-user" %>
        <% end %>
      </div>
      <div class="user-name">
        <% if @user.name? %>
          <h2><%= @user.name %></h2>
        <% else %>
          <h2>ゲスト</h2>
        <% end %>
      </div>
      <div class="user-posts"><p><%= "Post: #{@user.posts.count}" %></p></div>
      <div class="user-places"><p>場所数：</p></div>
      <div class="user-gender">
        <% case @user.gender %>
          <% when "男性" %>
            <span class="fa-solid fa-person fa-bounce man"></span>
          <% when "女性" %>
            <span class="fa-solid fa-person-dress fa-bounce woman"></span>
        <% end %>
      </div>
    </div>
    <div class="user-down">
      <div class="user-introduction">
        <% if @user.introduction? %>
          <%= @user.introduction %>
        <% else %>
          <%= render "shared/user_introduction_exmple" %>
        <% end %>
      </div>
    </div>
    <% if current_user.id == @user.id %>
      <% unless @user.name == "ゲスト" %>
        <div class="user-links">
          <%= link_to "プロフィール編集", edit_user_path, class: "user-edit" %>
          <%= link_to "アカウント編集", edit_user_registration_path, class: "user-edit" %>
          <%= link_to "アカウントを削除", profile_user_path(id: @user), method: :delete, data: { confirm: "ユーザーのアカウントを本当に削除しますか？" }, class: "user-delete" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts-title">
    <h1>Posts</h1>
    <p>投稿一覧</p>
  </div>
  <div class="posts-contents">
    <div class="posts-text-zero">
      <% if @user.posts.count == 0 %>
        <p>投稿がありません</p>
      <% end %>
    </div>
    <% @user.posts.each do |posts| %>
      <%= link_to post_path(id: posts) do %>
        <div class="posts-content scale">
          <div class="posts-left">
            <div class="user-icon">
              <% if posts.user.image? %>
                <%= image_tag posts.user.image.url %>
              <% else %>
                <%= image_tag "default.png" %>
              <% end %>
            </div>
          </div>
          <div class="posts-right">
            <div class="posts-top">
              <div class="posts-top-right">
                <div class="user-name">
                  <p><%= posts.user.name %></p>
                </div>
              </div>
              <div class="posts-top-left">
                <div class="post-user-create-time">
                  作成日: <%= posts.created_at.to_s(:datetime_jp) %>
                </div>
              </div>
            </div>
            <div class="posts-main">
              <div class="posts-content-image">
                <% if posts.post_image %>
                  <%= image_tag posts.post_image.url %>
                <% end %>
              </div>
              <div class="posts-content-item">
                <% if posts.content %>
                  <%= posts.content %>
                <% end %>
              </div>
            </div>
            <ul class="posts-down">
              <% if current_user.id == posts.user_id %>
                <li class="post-like">
                  <% if posts.liked?(current_user) %>
                    <span class="fa fa-heart liked-btn"></span>
                  <% else %>
                    <span class="fa-regular fa-heart"></span>
                  <% end %>
                  <%= posts.likes.count %>
                </li>
              <% else %>
                <% if user_signed_in? %>
                  <li class="post-like">
                    <% if posts.liked?(current_user) %>
                      <%= link_to post_likes_path(posts), method: :delete do %>
                        <span class="fa fa-heart liked-btn"></span>
                      <% end %>
                    <% else %>
                      <%= link_to post_likes_path(posts), method: :post do %>
                        <span class="fa-regular fa-heart"></span>
                      <% end %>
                    <% end %>
                    <%= posts.likes.count %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
