<div class="container">
  <div class="post-edit">
    <div class="post-edit-title">
      <h1>Edit Post</h1>
      <p>投稿編集</p>
    </div>
    <div class="post-edit-form">
      <div class="post-edit-body container-fluid">
        <%= form_with model: @post, local: true do |f| %>
          <%= render "users/shared/error_messages", resource: @post %>

        <div class="field row">
          <%= f.label :content, class: "required" %></br>
          <%= f.text_area :content, autofocus: true, autocomplete: "content", class: "post-field-content", placeholder: "初めまして、マミーです。よろしくお願いします" %>
          <p>※500文字以内入力してください</p>
        </div>

        <div class="field row">
          <%= f.label :post_image %></br>
          <div class="post-edit-image">
            <%= image_tag @post.post_image.url if @post.post_image? %>
          </div>
          <div class="post-edit-image-content"><%= f.file_field :post_image, autocomplete: "image" %></div>
        </div>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <div class="row">
          <div class="form-btn"><%= f.submit "編集する", class: "btn btn-primary" %></div>
        </div>
      <% end %>
    </div>
    <div class="signup-footer">
    </div>
  </div>
</div>
