<div class="container">
  <div class="post-title">
    <h1>Post</h1>
    <p>投稿</p>
  </div>
  <div class="post">
    <div class="post-content">
      <div class="post-left">
        <div class="user-icon">
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.url %>
          <% else %>
            <%= image_tag "default.png" %>
          <% end %>
        </div>
      </div>
      <div class="post-right">
        <div class="post-top">
          <div class="post-top-left">
            <div class="post-name">
              <%= @post.user.name %>
            </div>
            <div class="post-gender">
              <% if @post.user.gender %>
                <% case @post.user.gender %>
                  <% when "男性" %>
                    <span class="fa-solid fa-person fa-bounce man"></span>
                  <% when "女性" %>
                    <span class="fa-solid fa-person-dress fa-bounce woman"></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="post-top-right">
            <div class="post-create-time">
              作成日: <%= @post.created_at.to_s(:datetime_jp) %>
            </div>
          </div>
        </div>
        <div class="posts-main">
          <div class="posts-content-image">
            <% if @post.post_image %>
              <%= image_tag @post.post_image.url %>
            <% end %>
          </div>
          <div class="posts-content-item">
            <% if @post.content %>
              <%= @post.content %>
            <% end %>
          </div>
        </div>
        <ul class="post-down">
          <% if current_user.id == @post.user_id %>
            <li class="post-edit">
              <%= link_to edit_post_path do %>
                <span class="fa-solid fa-pen-to-square"></span>
              <% end %>
            </li>
            <li class="post-delete">
              <%= link_to post_path(id: @post), method: :delete, data: { confirm: "投稿内容を本当に削除しますか？" } do %>
                <span class="fa-solid fa-trash-can"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
