<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "ホーム", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "投稿一覧", posts_path %></li>
      <li class="breadcrumb-item active"  aria-current="page"><%= link_to "ユーザー投稿", post_path(@post) %></li>
    </ol>
  </nav>
  <div class="post-title">
    <h1>Post</h1>
    <p>投稿</p>
  </div>
  <div class="post">
    <div class="post-content">
      <div class="post-left">
        <div class="user-icon">
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.url %>
          <% else %>
            <%= image_tag "default.png" %>
          <% end %>
        </div>
      </div>
      <div class="post-right">
        <div class="post-top">
          <div class="post-top-left">
            <div class="post-name">
              <%= @post.user.name %>
            </div>
            <div class="post-gender">
              <% if @post.user.gender? %>
                <% case @post.user.gender %>
                  <% when "男性" %>
                    <span class="fa-solid fa-person fa-bounce man"></span>
                  <% when "女性" %>
                    <span class="fa-solid fa-person-dress fa-bounce woman"></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="post-top-right">
            <div class="post-create-time">
              作成日: <%= @post.created_at.to_s(:datetime_jp) %>
            </div>
          </div>
        </div>
        <div class="posts-main">
          <div class="posts-content-image">
            <% if @post.post_image? %>
              <%= image_tag @post.post_image.url, class: "post-image" %>
            <% end %>
          </div>
          <div class="posts-content-item">
            <%= @post.content %>
          </div>
        </div>
        <ul class="post-down">
          <% if current_user.id == @post.user_id %>
            <li class="post-like">
              <% if @post.likes.count == 0 %>
                  <span class="fa-regular fa-heart"></span>
              <% else %>
                  <span class="fa fa-heart liked-btn"></span>
              <% end %>
              <%= @post.likes.count %>
            </li>
            <li class="post-edit">
              <%= link_to edit_post_path do %>
                <span class="fa-solid fa-pen-to-square"></span>
              <% end %>
            </li>
            <li class="post-delete">
              <%= link_to post_path(@post), method: :delete, data: { confirm: "投稿内容を本当に削除しますか？" } do %>
                <span class="fa-solid fa-trash-can"></span>
              <% end %>
            </li>
          <% else %>
            <% if user_signed_in? %>
              <li class="post-comment">
                <span class="fa-regular fa-comments"></span>
                <%= @post.comments.count %>
              </li>
              <li class="post-like">
                <% if @post.liked?(current_user) %>
                  <%= link_to post_like_path(@post), method: :delete do %>
                    <span class="fa fa-heart liked-btn"></span>
                  <% end %>
                <% else %>
                  <%= link_to post_likes_path(@post), method: :post do %>
                    <span class="fa-regular fa-heart"></span>
                  <% end %>
                <% end %>
                <%= @post.likes.count %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="comment-contents">
      <div class="comment-post">
        <%= form_with model:[@post, @comment], local: true do |f| %>
          <div class="comment-text">
            <%= f.text_area :content, placeholder: "上記の投稿に対してコメントする..." %>
          </div>
          <div class="comment-text-btn">
            <%= f.submit "コメントする", class: "btn btn-primary" %>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
        <% end %>
      </div>
      <div class="comment-index">
        <% @comments.each do |comment| %>
          <div class="comment-content">
            <div class="comment-left">
              <% if comment.user.image? %>
                <div class="user-icon">
                  <%= image_tag comment.user.image.url %>
                </div>
              <% else %>
                <div class="user-icon">
                  <%= image_tag "default.png" %>
                </div>
              <% end %>
            </div>
            <div class="comment-right">
              <div class="comment-top">
                <div class="comment-top-right">
                  <div class="user-name">
                    <p><%= comment.user.name %></p>
                  </div>
                </div>
                <div class="posts-top-left">
                  <div class="post-user-create-time">
                    <p>作成日: <%= comment.created_at.to_s(:datetime_jp) %></p>
                  </div>
                </div>
              </div>
              <div class="comment-main">
                <%= comment.content %>
              </div>
              <ul class="post-down">
                <% if current_user.id == comment.user_id %>
                  <li class="post-delete">
                    <%= link_to post_comment_path(comment.post,comment), method: :delete, data: { confirm: "#{comment.user.name}さんコメント内容を本当に削除しますか？" } do %>
                      <span class="fa-solid fa-trash-can"></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
