<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "ホーム", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "ユーザー", users_path %></li>
      <li class="breadcrumb-item"><%= link_to "プロフィール", user_path(@user) %></li>
      <li class="breadcrumb-item active"  aria-current="page"><%= link_to "アカウント編集", edit_user_registration_path %></li>
    </ol>
  </nav>
  <div class="account-edit">
    <div class="account-edit-title">
      <h1>Edit Account</h1>
      <p>ーアカウント編集ー</p>
    </div>
    <div class="account-edit-form">
      <div class="account-edit-body container-fluid">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "shared/error_messages", resource: @user %>

          <div class="field row">
            <%= f.label :email, class: "required" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-regular fa-envelope size"></i>
              </div>
              <div class="field-content-right">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-content-name", placeholder: "メールアドレスを入力してください" %>
              </div>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field row">
            <%= f.label :password, class: "required" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-solid fa-unlock-keyhole size"></i>
              </div>
              <div class="field-content-right">
                <%= f.password_field :password, autocomplete: "new-password", class: "field-content-name", placeholder: "新しいパスワードを入力してください" %>
              </div>
            </div>
            <span>※6文字以上の英数字をご入力してください</span>
          </div>

          <div class="field row">
            <%= f.label :password_confirmation, class: "required" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-solid fa-unlock-keyhole size"></i>
              </div>
              <div class="field-content-right">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-content-name", placeholder: "パスワードをもう一度入力してください" %>
              </div>
            </div>
          </div>

          <div class="field row">
            <%= f.label :current_password, class: "required" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-solid fa-unlock-keyhole size"></i>
              </div>
              <div class="field-content-right">
                <%= f.password_field :current_password, autocomplete: "current-password", class: "field-content-name", placeholder: "現在のパスワードを入力してください" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-btn"><%= f.submit "更新する", class: "account-edit-btn btn btn-primary" %></div>
          </div>
        <% end %>
      </div>
      <div class="signup-footer">
        <%= link_to "戻る", :back %>
      </div>
    </div>
  </div>
</div>
