<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"  aria-current="page">新規登録</li>
    </ol>
  </nav>
  <div class="account-edit">
    <div class="account-edit-title">
      <h1>Signup</h1>
      <p>ー新規登録ー</p>
    </div>
    <div class="account-edit-form">
      <div class="account-edit-body container-fluid">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "users/shared/error_messages", resource: @user %>

          <div class="field row">
            <%= f.label :name, class: "required profile-edit-image" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-regular fa-face-smile size"></i>
              </div>
              <div class="field-content-right">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "field-content-name", placeholder: "ユーザー名を入力してください" %>
              </div>
            </div>
            <span>※10文字以内ご入力してください</span>
          </div>

          <div class="field row">
            <%= f.label :email, class: "required profile-edit-email" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-regular fa-envelope size"></i>
              </div>
              <div class="field-content-right">
                <%= f.email_field :email, class: "field-content-name", autocomplete: "email", placeholder: "メールアドレスを入力してください" %>
              </div>
            </div>
          </div>

          <div class="field row">
            <%= f.label :password, class: "required profile-edit-password" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-solid fa-unlock-keyhole size"></i>
              </div>
              <div class="field-content-right">
                <%= f.password_field :password, autocomplete: "new-password", class: "field-content-name", placeholder: "パスワードを入力してください" %>
              </div>
            </div>
            <span>※6文字以上の英数字をご入力してください</span>
          </div>

          <div class="field row">
            <%= f.label :password_confirmation, class: "required profile-edit-password" %></br>
            <div class="field-content row">
              <div class="field-content-left">
                <i class="fa-solid fa-unlock-keyhole size"></i>
              </div>
              <div class="field-content-right">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-content-name", placeholder: "パスワードをもう一度入力してください" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-btn"><%= f.submit "登録する", class: "btn-signup btn btn-primary" %></div>
          </div>
        <% end %>
      </div>
      <div class="signup-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
